$web-name-fz: 30px; // 网站名称大小
$head-nav-fz: 16px; // 头部导航字体大小
$head-nav-crlor: #59b3ff; // 头部导航字体颜色

/* ----------------------------- 报警级别也是区分  ------------------------------*/
$severity: #f00; // 严重
$general: #f1b013; // 普通
$hint: #0febce; // 提示
/* ------------------------------- 公共样式 ------------------------------- */
// 圆点
@mixin point($size,$background) {
  display: inline-block;
  width: $size;
  height: $size;
  background: $background;
  border-radius: 50%;
  vertical-align: bottom;
}